.editorContainer {
  display: flex;
  flex-direction: row;
}

.run-btn {
  display: block;
  margin: 0.5rem auto;
  padding: 0.5rem;
  background: rgb(208, 245, 184);
  border: solid rgb(140, 199, 101) 3px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 15px;
}